.App, html {
  text-align: center;
  font-family: 'Merienda One', serif;
  background-image: url('./parchmentbackground.jpg');
  height: 100%
}

.spellname {
  font-size: larger;
}

.spellcard {
  margin: 5px;
  display: inline-block;
  padding: 5px;
  background-color: rgba(176, 224, 230, .5);
  border-color: powderblue;
  color: steelblue;
  max-width: 500px;
}

.addmodal .modal-content{
  background-color: rgba(176, 224, 230, .5);
}

.deletebutton {
  margin-left: 5px;
}

.input-form {
  font-family: 'Merienda One', serif;
  text-align: center;
}

.oneline {
  display: block
}

.oneline input {
  width: 75%;
}

.input-level input{
  width: 50px;
}

.card-body {
  text-align: left;
  word-wrap: break-word;
}

.card-sub {
  text-align: center;
  margin-top: -20px;
}

.card-head {
  padding: 0;
}

.card-name {
  padding: 0 7px;
}