.App, html {
  text-align: center;
  font-family: 'Merienda One', serif;
  background-image: url('./parchmentbackground.jpg');
  height: 100%
}

.spellname {
  font-size: larger;
}

.spellcard {
  margin: 5px;
  display: inline-block;
  padding: 5px;
  background-color: transparent;
  border-color: powderblue;
}

.addmodal .modal-content{
  background-color: rgba(176, 224, 230, .5);
}

.deletebutton {
  margin-left: 5px;
}