.App, html {
  text-align: center;
  font-family: 'Merienda One', serif;
  background-image: url('./parchmentbackground.jpg');
  height: 100%
}

.spellname {
  font-size: larger;
}

.spellcard {
  margin: auto;
  display: inline-block;
  padding: 5px;
}